<html>
  <head>
    <title>chat window</title>
    <link rel="stylesheet"  href="../styles/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <link rel="stylesheet"  href="../styles/chatjs.css">
  </head>
  <body>
    <div class="view-chat">
      <div class="view-chat-usersarea view-chat-usersarea-theme1"><ul></ul></div>
      <div class="view-chat-msgarea view-chat-theme1">
        <div class="view-chat-msgarea-header view-chat-msgarea-header-theme1">
          <button class="view-chat-msgarea-button view-chat-msgarea-button-theme1" type="button" title="Mail roomd id to collaborators">Email Collaborators</button>
          <span>Room id:</span>
        </div>
        <textarea class="view-chat-msgarea-text view-chat-theme1" disabled>You are connected!</textarea>
        <div class="view-chat-msgarea-input view-chat-theme1">
          <input class="view-chat-msgarea-input-input view-chat-theme1" type="text">
          <button class="view-chat-msgarea-input-button view-chat-msgarea-input-button-theme1" type="button">Send msg</button>
        </div>
      </div>
    </div>
  </body>
</html>
