*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Droid Sans', sans-serif;
}

/*================================================= CHAT ================================================== */
.ui-dialog.ui-widget.ui-widget-content{
  border: 1px solid;
}

.ui-dialog-titlebar{
  color: #212121;
  font-weight: lighter;
  border-top:0;
  border-left:0;
  border-right:0;
}

.ui-dialog, .ui-dialog-content{
  border:0;
  margin: 0;
  padding: 0;
}
/*List of connected users*/
.view-chat-usersarea{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  border-right: 1px solid;
  margin: 0;
  font-size: 0.8em;
  padding: 4px;
  border-color: black;
  background-color: black;
  color: #0091EA;
}
.view-chat-usersarea-theme1{
  border-color: #F9F9F9;
  background-color: #212121;
  color: #F9F9F9;
}
.view-chat-usersarea-theme2{
  border-color: #212121;
  background-color: #F9F9F9;
  color: #212121;
}
/*whole chat elements container to the right of the list of connected users*/
.view-chat-msgarea{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 180px);
  height: 100%;
  /*border: 1px solid;*/
  margin: 0;
  font-size: 0.8em;
}
/*room id text*/
.view-chat-msgarea-header{
  position: absolute;
  top: 0;
  margin: 0;
  /*border-top: 1px solid;*/
  /*border-top: 0;*/
  height: 2em;
  width: 100%;
  overflow: auto;
  padding: 2px 4px;
}
.view-chat-msgarea-header-theme1{
  border-color: #757575;
  background-color: #757575;
  color: #BDBDBD;
}
.view-chat-msgarea-header-theme2{
  border-color: #E0E0E0;
  background-color: #E0E0E0;
  color: #616161;
}
/*chat msg area*/
.view-chat-msgarea-text{
  position: absolute;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 6px 4px;
  font-weight: lighter;
}
/*container of the 'send msg' button and input field*/
.view-chat-msgarea-input{
  position: absolute;
  width: 100%;
  bottom: 0;
  /*border: 1px solid;*/
  border-top: 1px solid;
  margin: 0;
  height: 2em;
}
.view-chat-msgarea-input-button{
  cursor: pointer;
  margin: 0;
  padding: 1px 2px;
  overflow: hidden;
  width: 130px;
  height: 100%;
  font-size: small;
  font-weight: lighter;
  border:none !important;
}
.view-chat-msgarea-input-button-theme1{
  color: #F9F9F9;
  background-color: #607D8B;
}
.view-chat-msgarea-input-button-theme2{
  color: #F9F9F9;
  background-color: #607D8B;
}
.view-chat-msgarea-input-input{
  font-weight: lighter;
  margin: 0;
  border: 0;
  padding: 0 4px;
  width: calc(100% - 130px);
}

.view-chat-theme1{
  border-color: #F9F9F9;
  background-color: #212121;
  color: #F9F9F9;
}
.view-chat-theme2{
  border-color: #212121;
  background-color: #F9F9F9;
  color: #212121;
}
/*================================================= CHAT PREFERENCES WINDOW =================== */
.view-chat-preferences{
  background-color: #212121;
  color: #F9F9F9;
  font-size: 0.8em;
  font-weight: lighter;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}
.view-chat-preferences h3{
  margin: 2px;
  color: #607D8B;
  font-weight: lighter;
}
.view-chat-preferences div{
  margin: 2px 2px 12px 6px;
}
.view-chat-preferences-fontsize{
  cursor: pointer;
  margin: 0 4px 0 6px;
  font-size: 0.9em;
  font-weight: bold;
}

/*================================================= CHAT MAIL WINDOW =================== */
.view-chat-mail{
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
}

.view-chat-mail-text{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  width: 100%;
  height: calc(100% - 30px);
  margin: 0;
  padding: 6px 4px;
  position: relative;
  color: #DDE8BB;
  font-size: 0.8em;
  background-color: black;
}

.view-chat-mail button{
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  margin: 0;
  padding: 1px 2px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: #633A05;
}
